#directories

.vs/
bin/
bin-int/

#files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
/Spaceng/Dependency/ktx
/App/assets/Textures/Screen.jpg
/App/assets/Shaders/texture.frag
/App/assets/Shaders/texture.vert
