[submodule "Spaceng/Dependency/spdlog"]
	path = Spaceng/Dependency/spdlog
	url = https://github.com/ALALACH/Spdlog_
[submodule "Spaceng/Dependency/imgui"]
	path = Spaceng/Dependency/imgui
	url = https://github.com/ALALACH/Imgui_Premake
[submodule "Spaceng/Dependency/glfw"]
	path = Spaceng/Dependency/glfw
	url = https://github.com/ALALACH/glfw_premake
[submodule "Spaceng/Dependency/optick"]
	path = Spaceng/Dependency/optick
	url = https://github.com/bombomby/optick
[submodule "Spaceng/Dependency/glm"]
	path = Spaceng/Dependency/glm
	url = https://github.com/Groovounet/glm
[submodule "Spaceng/Dependency/tinygltf"]
	path = Spaceng/Dependency/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Spaceng/Dependency/Asio_"]
	path = Spaceng/Dependency/Asio_
	url = https://github.com/chriskohlhoff/asio
